<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: blue;
}
</style>
</head>
<body>
 
<h1>Welcome to Shappy!</h1>
<h2>What makes you super happy?</h2>
<br />

<% @blurbs.each do |blurb| %>
  <div>
    <h2><%= blurb.title %></h2>
    <p> <%= blurb.details %></p>
    <br/>
  </div>
    <hr />
<% end %>
 
</body>
</html>